.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.content {
  display: flex;
  padding: 0 var(--page-px);
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
  position: relative;

  h1,
  h2,
  h3,
  p {
    max-width: 1000px;
    margin-right: 30px;

    @media (min-width: 768px) {
      margin-right: 190px;
    }

    @media (min-width: 1440px) {
      margin-right: 0;
    }
  }
}

.stepsInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.step {
  display: flex;
  flex-direction: row;
  gap: 30px;
  animation: fadeIn 1s ease;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.iconWrapper {
  position: relative;
  width: 42px;
  height: 78px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

}

@media (min-width: 768px) {
  .section {
    margin-bottom: 200px;
  }


  .header {

  h1 {
    font-size: 24px;
    line-height: 29px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }
}

  .steps {
  display: flex;
  flex-direction: row;
  gap: 40px;
    flex-wrap: wrap;
}


  .step {
  display: flex;
  flex-direction: row;
  gap: 30px;
  animation: fadeIn 0.7s ease;
  flex: 0 0 calc((100% - 40px)/2);
  width: 100%;
  }

  .iconWrapper {
  width: 42px;
  height: 82px;
  }

  .description {

  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

}

}

.ctaButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFDDA9;
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
  padding: 16px 24px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin: 30px auto 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;

  &:hover,
  &:focus-visible {
    background-color: #FFAF38;
  }
}