.section {
  display: flex;
  flex-direction: column;
  margin: 0 auto 120px;

  @media (min-width: 768px) {
    margin: 0 auto 200px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-bottom: 40px;
  max-width: 944px;
}

.bar {
  width: 100%;
  max-width: 900px;
}
