.section {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 0 var(--page-px);
  flex-direction: column;
  max-width: 1620px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-bottom: 40px;
  position: relative;

  h1,
  h2,
  h3,
  p {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 24px;
      line-height: 29px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.bar {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
