.page {
  min-height: 100vh;
  padding: var(--page-pt) var(--page-px) var(--page-pb);
  background: #FFFFFF;
}

.container {
  max-width: var(--page-maxw);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.title {
  margin: 0;
}

.intro {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #1A1A1A;
  text-align: justify;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.toc {
  width: 100%;
  order: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  order: 2;
}

@media (min-width: 1440px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 330px;
    gap: 48px;
    align-items: start;
  }

  .content {
    order: 0;
    grid-column: 1;
    grid-row: 1;
  }

  .toc {
    order: 0;
    grid-column: 2;
    grid-row: 1;
  }
}
