.layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.mapBox {
  min-width: 0;
  height: 360px;

  @media (max-width: 767px) {
    height: 300px;
  }
}
