.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.form > :first-child {
  align-self: stretch;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 6px;

  font-size: 14px;
  line-height: 20px;
}

.note {
  color: var(--text-secondary);
}
