.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  gap: 24px;
  max-width: 1640px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 768px) { gap: 40px; }
}

.pageHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.pageTitle {
  margin: 0;
  text-align: center;
}

.pageSubtitle {
  margin: 0;
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 655px;
  gap: 24px;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  width: 100%;
}

.error {
  text-align: center;
  color: #d32f2f;
  font-size: 14px;
  margin: 0;
}
