.id {
  flex: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: var(--text-muted);
}

.info {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  gap: 2px;

  min-width: 0;
}

.title {
  font-weight: 600;
}

.meta {
  overflow: hidden;

  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--text-muted);
}

.status {
  flex: none;
}

.date {
  flex: none;

  font-size: 12px;
  line-height: 16px;

  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .id {
    width: 52px;
  }

  .info {
    flex: 1 1 0;
  }

  .status {
    width: 130px;
  }

  .date {
    width: 120px;

    text-align: right;
  }
}
