.section {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  max-width: 1640px;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #808080;
  }
}

.stepsInfo {
  display: flex;
  flex-direction: column;
}

.stepsTabs {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border: 2px solid #FFB800;
  border-radius: 50px;
  justify-content: center ;
  align-items: center;
  padding: 10px;

  span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    transition: background-color 0.5s ease, padding 0.5s ease;
    white-space: nowrap;

    &:hover{
    background-color: #FFDDA9;
  }

  }



}