.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.content {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  max-width: 1640px;
  margin: 0 auto 120px auto;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
  position: relative;
}

.stepsInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stepsTabs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 2px solid #FFB800;
  border-radius: 30px;
  justify-content: center ;
  align-items: center;
  padding: 10px;

  span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    transition: background-color 0.5s ease, padding 0.5s ease;
    white-space: nowrap;

    &:hover{
    background-color: #FFDDA9;
  }

    &.active {
      background-color: #FFDDA9;
    }
  }

}

.steps {
  display: flex;
  padding: 0 10px;
  gap: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.step {
  display: flex;
  flex-direction: row;
  gap: 30px;
  animation: fadeIn 1s ease;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.iconWrapper {
  position: relative;
  width: 42px;
  height: 78px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

}

.backgroundImage {
  display: none;
}

.backgroundImageCoal {
  display: none;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 200px;
  }

  .content {
  margin: 0 auto 160px auto;
  }


  .header {

  h1 {
    font-size: 24px;
    line-height: 29px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }
}

  .stepsTabs {
  display: flex;
  flex-direction: row;
  gap: 12px;

  span {
    font-size: 20px;
    line-height: 24px;
  }

}

  .steps {
  display: flex;
  flex-direction: row;
  gap: 40px;
    flex-wrap: wrap;
}


  .step {
  display: flex;
  flex-direction: row;
  gap: 30px;
  animation: fadeIn 0.7s ease;
  flex: 0 0 calc((100% - 40px)/2);
  width: 100%;
  }

  .iconWrapper {
  width: 42px;
  height: 82px;
  }

  .description {

  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

}


  .backgroundImage {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 100px;
  bottom: 60px;
  z-index: 1;
  display: block;
}

.backgroundImageCoal {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 20px;
  bottom: 70px;
  z-index: 0;
  display: block;

  &:nth-child(2) {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 10px;
    bottom: 40px;
    z-index: 0;
  }

  &:nth-child(3) {
    position: absolute;
    width: 120px;
    height: 120px;
    right: -40px;
    bottom: -20px;
    z-index: 0;
    rotate: (20deg) ;
  }

  &:nth-child(4) {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 150px;
    top: 480px;
    z-index: 0;
    rotate: (-40deg) ;
  }

  &:nth-child(5) {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 10px;
    top: 460px;
    z-index: 0;
    rotate: (70deg) ;
  }
}

}

@media (min-width: 1440px) {

  .content {
  margin: 0 auto 260px auto;
  }


  .backgroundImage {
  width: 315px;
  height: 280px;
  right: 100px;
  bottom: -40px;
  display: block;
}

.backgroundImageCoal {
  width: 400px;
  height: 400px;
  right: -40px;
  bottom: -70px;
  display: block;

  &:nth-child(2) {
    width: 120px;
    height: 120px;
    right: 10px;
    bottom: -40px;
  }

  &:nth-child(3) {
    width: 120px;
    height: 120px;
    right: -40px;
    top: 10px;
  }

  &:nth-child(4) {
    width: 200px;
    height: 200px;
    left: 150px;
    top: 450px;
  }

  &:nth-child(5) {
    width: 350px;
    height: 350px;
    left: -70px;
    top: 350px;
  }
}

}