.section {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  margin: 0 auto 40px auto;
  max-width: 1640px;

  h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #808080;
  }
}

.list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  border: 2px solid #FFB800;
  border-radius: 20px;
  padding: 20px;
  gap: 15px;
  justify-content: flex-start;
  min-width: 520px;
  flex-shrink: 0;

  p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
  }
}

.headerItem {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  h2 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    max-width: 334px;
  }

  span {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    white-space: nowrap;
  }

}

