.regulations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  align-items: center;
  gap: 8px;

  width: 100%;
}

.row > :nth-child(3) {
  grid-row: 1 / span 2;
  grid-column: 2;
}

@media (min-width: 768px) {
  .row {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) auto;
  }

  .row > :nth-child(3) {
    grid-row: auto;
    grid-column: auto;
  }
}
