.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto 140px auto;
  padding: 0 20px;
  max-width: 1640px;
  gap: 10px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  max-width: 668px;

  h1 {
    font-size: 34px;
    line-height: 41px;
    font-weight: 600;
    margin-bottom: 32px;
    }

  p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #808080;
    margin-bottom: 60px;
  }
}
.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(90deg, #FFB800 0%, #FF8A00 100%);
  transition: background 0.4s ease;
  cursor: pointer;
  padding: 17px 80.5px;
  max-width: 320px;
  margin-bottom: 85px;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #FFF8EB;

  &:hover,
  &:focus-visible {
    background: linear-gradient(90deg, #FF8A00 0%, #FFB800 100%);
  }
}

.visual {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
}


.visualDecoration1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #FF8A00;
  padding: 10px 20px;
  top: 20px;
  background: #FFFFFF;
  left: calc(30/1920)*100%;
}

.visualDecorationHeaderText {
  display: flex;
  flex-direction: row;
  gap: 10px;

    span {
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
    }
}

.visualDecorationBody {
  display: flex;
  flex-direction: row;

    span {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }
}
