.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 16px;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.controls > * {
  width: auto;
  min-width: 180px;
}

.aside {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  color: var(--text-secondary);
}
