.reminderRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.reminderText {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ff8a00;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.reminderDays {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ff8a00;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}
