.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.title {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  color: #1a1a1a;
}

.subtitle {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  color: #1a1a1a;
}

.actions {
  display: flex;
  width: 100%;
}
