.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  width: fit-content;
  gap: 20px;
  white-space: nowrap;
  transition: background 0.4s ease;
}

.fullWidth {
  width: 100%;
}

.primary {
  background: linear-gradient(90deg, #FFB800 0%, #FF8A00 100%);
  color: #FFF8EB;

  &:hover,
  &:focus-visible {
    background: linear-gradient(90deg, #FF8A00 0%, #FFB800 100%);
  }
}

.secondary {
  background: #FFDDA9;
  color: #4D4D4D;
  font-weight: 600;

  &:hover,
  &:focus-visible {
    background-color: #FFAF38;
  }
}

.chat {
  background: linear-gradient(90deg, #FFB800 0%, #FF8A00 100%);
  color: #1A1A1A;

  &:hover,
  &:focus-visible {
    background: linear-gradient(90deg, #FF8A00 0%, #FFB800 100%);
  }
}

.settings {
  border-radius: 40px;
  background: #ffffff;
  border: 2px solid #FFDDA94D;


  &:hover,
  &:focus-visible {
    background-color: #FFDDA9;
  }

  &.active {
    background: #FFDDA9;
    border-color: transparent;
  }
}

.sm {
  padding: 11.5px 22.5px;
  font-size: 14px;
  line-height: 18px;
}

.md {
  padding: 14px 46.5px;
  font-size: 16px;
  line-height: 20px;
}

.lg {
  padding: 17px 58.5px;
  font-size: 18px;
  line-height: 22px;
}

.arrow {
  display: inline-flex;
  transition: transform 0.5s ease;
  color: currentColor;

  svg {
    stroke: currentColor;
  }
}

.button:hover .arrow,
.button:focus-visible .arrow {
  transform: translateX(12px);
}

@media (min-width: 768px) {
  .md {
    padding: 17px 58.5px;
    font-size: 18px;
    line-height: 22px;
  }
}
