.section {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  max-width: 1640px;
  margin: 0 auto 273px auto;
  width: 100%;
}

.header {
  display: grid;

  h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #808080;
    margin-bottom: 60px;
  }

}

.list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.item {
  border-radius: 16px;
  background: #FFF3E5;
  padding: 15px 26px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;

  &.open {
    background: #FFFFFF;
    border-color: #FF8A00;
  }
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    color: #4D4D4D;
    width: 100%;
    transition: color 0.3s ease;
  }
}

.item.open .question span {
  color: #FF8A00;
}

.icon {
  width: 30px;
  height: 30px;
  color: #FF8A00;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.verticalLine {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.icon.open .verticalLine {
  transform: rotate(90deg);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0;

  &.open {
    max-height: 500px;
    padding-top: 10px;
  }

  span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #4D4D4D;
    display: block;
  }
}

