.tabs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 2px solid #FFB800;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;

  span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    transition: background-color 0.5s ease;
    white-space: nowrap;

    &:hover {
      background-color: #FFDDA9;
    }

    &.active {
      background-color: #FFDDA9;
    }
  }
}

@media (min-width: 768px) {
  .tabs {
    flex-direction: row;
    gap: 12px;

    span {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
