.footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  padding: 0 20px;
}

.cta {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.ctaCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background:
    radial-gradient(200% 820% at -129.81% 50.16%, rgba(255, 161, 0, 0.5) 3.98%, #FFFFFF 83.65%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border-radius: 24px;
  position: relative;
  z-index: 2;
  width: 100%;
  justify-content: center;
}

.ctaCard::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: inherit;
  background: linear-gradient(90deg, #FFB800 0%, #FF8A00 100%);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

.ctaLeft {
  display: flex;
  gap: 15px;
  flex-direction: column;
  z-index: 3;
  align-items: center;

  .ctaChip {
    padding: 6.5px 24px;
    border-radius: 50px;
    border: 2px solid #FF8A00;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    cursor: pointer;
    text-align: center;
    width: 100%;
      transition: background-color 0.5s ease, border-color 0.3s ease;

      &:hover,
      &:focus-visible {
        background-color: #FFDDA9;
        border-color: transparent;
      }
  }

  h1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #0D0D0D;
  }
}

.ctaRight {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #FF8A00;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      
      .liText {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        color: #808080;
      }
    }
  }

  .bullet {
    width: 20px;
    height: 20px;
  }
}


.ctaActions {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.primaryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 11.5px 80.5px;
  background: linear-gradient(90deg, #FFB800 0%, #FF8A00 100%);
  transition: background 0.4s ease;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #FFFFFF;
  width: 100%;
  gap: 20px;
  white-space: nowrap;

  &:hover,
  &:focus-visible {
    background: linear-gradient(90deg, #FF8A00 0%, #FFB800 100%);
  }

}

.secondaryBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFDDA9;
  border-radius: 10px;
  padding: 11.5px 22.5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #4D4D4D;
  width: 100%;
  white-space: nowrap;

  &:hover,
  &:focus-visible {
    background-color: #FFAF38;
  }
}

.backgroundImageBelAz {
    position: absolute;
    width: 315px;
    height: 280px;
    left: 0;
    top: -210px;
    z-index: 3;
    display: block;
  }

  .backgroundImageCoal {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 80px;
    top: -230px;
    z-index: 0;
    rotate: (-80deg);
    display: block;

    &:nth-child(2) {
      position: absolute;
      width: 270px;
      height: 270px;
      left: -20px;
      top: -280px;
      z-index: 0;
      rotate: (90deg);
    }

    &:nth-child(3) {
      position: absolute;
      width: 250px;
      height: 250px;
      left: 0;
      top: -250px;
      z-index: 0;
      rotate: (0deg);
    }

  }

  .backgroundImage {
  display: none;
}

.backgroundImageCoal2 {
  display: none;


  &:nth-child(2) {
    display: none;
  }

  &:nth-child(3) {
    display: none;
  }

  &:nth-child(5) {
    display: none;
  }

  &:nth-child(6) {
    display: none;
  }

  &:nth-child(7) {
    display: none;
  }

}
  

@media (min-width: 768px) {

  .ctaLeft {
  display: flex;
  gap: 15px;
  flex-direction: column;
  z-index: 3;
  align-items: flex-start;
  max-width: 450px;
    margin-right: auto;

  .ctaChip {
    max-width: 300px;
  }

  h1 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    color: #0D0D0D;
  }
}

  .ctaActions {
  flex-direction: row;
}


  .backgroundImageBelAz {
    position: absolute;
    width: 315px;
    height: 280px;
    left: auto;
    right: 0;
    top: -210px;
    z-index: 3;
    display: block;
  }

  .backgroundImageCoal {
    position: absolute;
    width: 200px;
    height: 200px;
    left: auto;
    right: 120px;
    top: -230px;
    z-index: 0;
    rotate: (-80deg);
    display: block;

    &:nth-child(2) {
      position: absolute;
      width: 270px;
      height: 270px;
      left: auto;
      right: -20px;
      top: -280px;
      z-index: 0;
      rotate: (90deg);
    }

    &:nth-child(3) {
      position: absolute;
      width: 250px;
      height: 250px;
      left: auto;
      right: 0;
      top: -250px;
      z-index: 0;
      rotate: (0deg);
    }

  }
  
}

@media (min-width: 1440px) {


  .ctaCard {
  flex-direction: row;
  padding: 40px 50px 40px 180px;
  justify-content: center;
}


  .backgroundImage {
  position: absolute;
  width: 310px;
  height: 275px;
  left: 170px;
  bottom: 270px;
  z-index: 1;
    display: block;
}

.backgroundImageCoal2 {


  &:nth-child(7) {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50px;
    bottom: -160px;
    z-index: 0;
    rotate: (10deg);
    display: block;
  }

  &:nth-child(8) {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 60px;
    bottom: 300px;
    z-index: 0;
    rotate: (50deg);
    display: block;
  }

  &:nth-child(9) {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -50px;
    bottom: 100px;
    z-index: 0;
    rotate: (40deg);
    display: block;
  }
  &:nth-child(10) {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -70px;
    top: 40px;
    z-index: 0;
    rotate: (90deg);
    display: block;
  }

}


  .backgroundImageBelAz {
    display: none;
  }

  .backgroundImageCoal {
    display: none;

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      display: none;
    }

  }

}
  
