.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginTabs {
  border-width: 1px;
  border-radius: 16px;
  padding: 4px;
  gap: 4px;
  flex-direction: row;

  span {
    font-size: 13px !important;
    line-height: 16px !important;
    padding: 6px 0 !important;
    border-radius: 12px !important;
  }
}

.orderHint {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  text-align: center;
  margin: 0;
}
