.section {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1640px ;
  margin: 0 auto 180px auto;
}

.title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  margin-bottom: 15px;
  width: 100%;
}

.subtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1246px;
  color: #808080;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;

}

.industry {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #FFB800;
  overflow: hidden;
  cursor: pointer;

  &:nth-child(1),
  &:nth-child(2) {
    flex: 0 0 calc((100% - 20px) / 2);
  }

  &:nth-child(n+3) {
    flex: 0 0 calc((100% - 40px) / 3);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 0;

    li {
      font-size: 16px;
      line-height: 20px;
      color: #1A1A1A;
      font-weight: 500;
      gap: 5px;
    }
  }
}

.industryImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.industryImage.visible {
  opacity: 1;
}

.industryContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.industryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FF8A00;
  border-radius: 50px;
  padding: 5px 15px;
  width: fit-content;
  z-index: 3;
  position: relative;

  h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
  }
}
